* {
    margin: 0;
    padding: 0;
}

.attribution {
    position: absolute;
    bottom: 0%;
}

html {
    
    min-height: 100%;
    background: no-repeat linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

h1, p {
    font-family: "Kumbh Sans", sans-serif;
}


#tot {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 63%;
    height: 450px;


    margin: auto;
    margin-top: 5%;
    

    background-color: white;
    border-radius: 16px;

    overflow: hidden;

    box-shadow: 0px 0px 20px rgb(88, 88, 88);
}
.pictures {
    flex: 1;
}

.faq {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: center;
    
    min-height: 500px;
    margin-right: 50px;
    margin-left: -20px;
    
}
.faq h1 {
    margin-bottom: 20px;
}

.answersAndQuestions {
    
    display: flex;
    flex-direction: column;

    justify-content: center;

}

.qst {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.aq {
    font-size: 12px;
    margin: 15px 0px;
    padding: 5px 0px;

    border-bottom: 1px solid rgb(184, 184, 184);
}
.aq:hover {
    cursor: pointer;
}

#cube {
    width:191; 
    height:184;

    position: absolute;

    top: 260px;
    left: 90px;
}
#woman {
    width:  472;
    height: 359;

    position: relative;
    top: 20px;
    left: -100px;
}
/* style="opacity: 0;" */

.answer {
    position: absolute;
    max-width: 280px;
    margin-top: 5px;
}
#a1 {
    width: 300px;
}











